<ul>
	<li>  <p style="color:red"> Rojo </p> </li>
	<li>  <p style="color:blue"> Azul </p> </li>
	<ol>
		<li>  <p style="color:blue"> Marino </p> </li>
		<li>  <p style="color:darkblue"> Fuerte </p> </li>
		<li>  <p style="color:cyan"> Agua </p> </li>
	</ol>
	<li>  <p style="color:green"> Verde </p> </li>
	<li>  <p style="color:black"> Negro </p> </li>

</ul>